#main {
    display: grid;
    grid-template: repeat(30, 48px) / repeat(100, 48px);
}

.cell {
    background-color: rgb(135, 206, 235);
    background-size: cover;
}

.leaf {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/oak-leaves.webp");
}

.tree {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/oak-log.webp");
}

.grass {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/grass.webp");
}

.dirt {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/dirt.webp");
}

.stone {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/stone.webp");
}

.bedrock {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/bedrock.webp");
}

#inventory {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 55px;
    margin-left: 15px;
}

.inventory {
    margin-top: 8px;
    width: 41px;
    height: 41px;
    background-size: cover;
}

.pickaxeB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/diamond-pickaxe.webp");
}

.axeB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/diamond-axe.webp");
}

.shovelB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/diamond-shovel.webp");
}

.shearsB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/shears.webp");
}

.leafB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/oak-leaves.webp");
}

.treeB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/oak-log.webp");
}

.grassB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/grass.webp");
}

.dirtB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/dirt.webp");
}

.stoneB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/stone.webp");
}

.bedrockB {
    background-image: url("https://guileless-pegasus-d698c6.netlify.app/blocks/bedrock.webp");
}